<mat-toolbar color="primary" class="toolbar mat-elevation-z4">
  <mat-toolbar-row>
    Angular-Electron-Material-Plotly
    <div style="flex-grow: 1"></div>
    <mat-nav-list>
      <button mat-button routerLink="/plot" routerLinkActive="active">
        <mat-icon>home</mat-icon>
        <span class="label">Plot</span>
      </button>
      <button mat-button routerLink="/settings" routerLinkActive="active">
        <mat-icon>settings</mat-icon>
        <span class="label">settings</span>
      </button>
    </mat-nav-list>
  </mat-toolbar-row>
</mat-toolbar>
